body {
	background-color: #2f93d6 ;
	margin: 0;
	padding: 0;
}
.header {
  	color: black;
  	text-align: center;
  	padding: 12px;
  	text-decoration: none;
  	font-size: 18px; 
  	line-height: 10px;
  	border-radius: 4px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
.left{
	float: left;



}
.right{
	float: right;

}
.footer{
  position: fixed;
  height: 80px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}